<h1>Base <%= @base %> Conversion</h1>

<div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Input Number</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <% (0..200).each do |n| %>
            <tr>
                <td><%= n %></td>
                <td><%= number_to_base(n, @base) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>